.btn {
    text-decoration: none;
    color: #8dc63f;
    background-color: transparent;
    border: 1px solid #8dc63f;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-content: flex-end;
    cursor: pointer;
    font-size: .9rem;
    line-height: .9rem;
    text-align: center;
    padding: .66rem .96rem;
    min-height: 2.23rem;
    box-sizing: border-box;
    transition: all 300ms;
    text-transform: uppercase;
}

.btn-green {
    color: #fff;
    background: linear-gradient(to bottom, #8dc63f 0%, #98d445 100%);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    border: 0;
}

.btn:hover {
    color: #fff;
    background-color: #8dc63f;
}

.btn.btn-green:hover {
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.btn-icon {
    border: none;
}

.btn-icon:hover {
    color: #8dc63f;
    background-color: transparent;
}