.search form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.search a {
  color: #b2b0b0;
}

.search a:hover {
  color: #8dc63f;
}

.search input {
  width: 80%;
  padding-right: 1rem;
}

@media only screen and (max-width: 1029px) {
  .search.desktop {
    display: none;
  }
}

@media only screen and (min-width: 1030px) {
  .search.mobile {
    display: none;
  }
}