#wrapper {
  position: relative;
  min-height: 100vh;
  padding: 0;
/*  overflow: hidden;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  /*display: flex;
  flex: 1 0 auto;
  flex-direction: column;*/
  position: relative;
}

#wrapper, .home-grid {
  margin: 0 auto;
}

/*@media screen and (max-width: 1800px) {
  .inner, .home-grid {
    max-width: 1440px;
    width: 100%;
  }
}

@media screen and (max-width: 1470px) {
  .inner, .home-grid {
    max-width: 1000px;
    width: 100%;
  }
}*/